
/*Header vol 2.2*/
:root{
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --second-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F5F5;
    --second-bg-color: #2F303A;
    --tipical-line-height: 1.14;
    --main-font: "Roboto", "Verdana";
}
.body{
background-color: var(--primary-bg-color);
font-family: var(--main-font)
}

.list {
    list-style: none;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
.header-item-mail-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: var(--tipical-line-height);
    letter-spacing: 0.02em;
}
.work-team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em; 
}
.footer-mail-tel-adress{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

/* ----------Header-------------- */

.header-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.header-item{
color: var(--title-text-color);
}

.header-mail{
color: var(--title-text-color);
}
.header-tel{
color: var(--primary-text-color);
}
.header-item .header-mail .header-tel:hover,
.header-item .header-mail .header-tel:focus{
    color: var(--accent-color);
}

/* ----------Head------------- */
.head{
    background-color: var(--second-bg-color);
}
.head-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--second-text-color);
}

.head-btn{
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--second-text-color);
}

.head-btn:hover,
.head-btn:focus{
    color:#188CE8;
}

/* ---------Section-------------- */

.section-ourtitle{
font-weight: 700;
font-size: 14px;
line-height: var(--tipical-line-height);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}

.section-text{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);    
}

/* ------------work---------------- */

.work-title{
color: var(--title-text-color);
}

/* ----------------Team------------ */

.team-title{  
color: var(--title-text-color);   
}

.team-one{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.team-text{
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

/*---------------Footer------------- */
.footer{
background-color: var(--second-bg-color);
}
.footer-adress{
color: #FFFFFF;
}
.footer-mail{
color: rgba(255, 255, 255, 0.6);
}
.footer-tel{
color: rgba(255, 255, 255, 0.6);
}
/*-----------------Portfolio---------------*/

.section-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
background-color: #F5F4FA;
}
.section-btn:hover,
.section-btn:focus{
    color: var(--second-text-color);
    background-color: var(--accent-color);
}

/*----------------Portfolio-projects-------------*/

.projects-way{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}
.projects-text{
 font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;  
color: var(--primary-text-color); 
}